{
    "singleQuote": true,
    "semi": false,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "strict",
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-organize-imports"
    ]
}
